@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@300&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

h1 {
  margin-bottom: 20px;
}

p {
  color: var(--main-color);
  font-family: 'Open Sans', sans-serif;
}
