*{
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background-color);
}

.page-layout {
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px)
}

.page-content-scrollable {
  height: calc(100vh - 60px);
  width: 100%;
  overflow: scroll;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.align-center {
  align-items: center;
}

.container {
  display: flex;
  gap: 50px;
}

.container-margin {
  margin: 50px 10%;
}

.inlined {
  display: flex;
  gap: 10px;
}

.shadowed {
  box-shadow: 0px 2px 5px 0px var(--shadow-color);
}

.flex-dir-column {
  flex-direction: column;
}
