<div class="post-comment-new" data-posts-target="commentform">
  <% if @user.avatar.present? %>
    <%= cl_image_tag @user.avatar.key, class: "contact-profile" %>
  <% end %>
  <%= form_with(model: [@post, @comment], class: "form-inline", data: { action: "turbo:submit-end->post-comment#resetForm", controller:"emoji" }) do |f| %>
  <%= f.text_area :content, placeholder: "Comment this post here...", data: { emoji_target: "input", action: "emoji-pick->emoji#add" } %>
  <button type="button" data-action="click->emoji#togglePicker"><i class="fa-solid fa-face-laugh-beam"></i></button>
  <unicode-emoji-picker  data-emoji-target="emoji" data-action="emoji-pick->emoji#add" class="hidden"></unicode-emoji-picker>
  <%= f.submit class: "button" %>
  <% end %>
</div>
