<div class="post post-new">
   <% if @user.avatar.present? %>
  <%= cl_image_tag @user.avatar.key, class: "contact-profile" %>
    <% end %>
  <%= form_with(model: [@post], class: "form-post-new form-inline") do |f| %>
  <%= f.text_area :content, placeholder: "What are you thinking about today?" %>
  <%= f.submit class: "button" %>
<% end %>
</div>
