<div class="section">
  <h2>Online users:</h2>
  <% @users.each do |user| %>
    <%= link_to profile_path(user.id) do %>
      <div class="contact-card">
        <% if user.avatar.present? %>
          <%= cl_image_tag user.avatar.key, class: "contact-profile" %>
        <% end %>
        <p><%= user.first_name %> <%= user.last_name %></p>
      </div>
    <% end %>
  <% end %>
</div>
