<div class="section-right">
  <h3>pages:</h3>
  <p>Feature coming soon</p>
  <h3>Contacts:</h3>
  <% @users.each do |user| %>
    <div class="contact-card" data-user-id="<%= user.id %>" data-action="click->modal#open">
      <% if user.avatar.present? %>
        <%= cl_image_tag user.avatar.key, class: "contact-profile" %>
      <% end %>
      <p><%= user.first_name %> <%= user.last_name %></p>
    </div>
  <% end %>
</div>
