
<div class="page-layout" data-controller="modal">

<div class="page-layout">

  <%= render "pages/leftsidebar" %>
  <div class="page-content-scrollable">
    <div class="home-feed">
      <div class="post-feed">
        <% if current_user %>
          <%= render "createpost" %>
        <% end %>
        <%= render "feed" %>
      </div>
    </div>
  </div>
  <%= render "pages/rightsidebar" %>
  <div class="modal" data-modal-target="chatrooms"></div>

</div>
