.button {
  border: none;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  font-weight: 700;
  color: white;
  border-radius: 5px;
  width: fit-content;
}

.button:hover {
  background-color: #95C6C6;
}

.button:active {
  background-color: #569F9F;
}
