.button {
  border: none;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  font-weight: 700;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  width: fit-content;
  margin-top: 8px;
  margin-bottom: 8px;
}

.button a {
  color: white;
}

.button:hover {
  background-color: var(--secondary-hover-color);
}

.button:active {
  background-color: var(--secondary-active-color);
}

.add_image_button {
  display: none;
}
