.message__outer {
  display: flex;
}

.message__inner {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}
.message__actions {
  width: 67px;
  padding-right: 5px;
}

.message__spacer {
  flex: 1;
}
.message__bubble {
  max-width: calc(100% - 67px);
  overflow-wrap: break-word;
  background-color: rgb(82, 116, 241);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.message__actions {
  flex-shrink: 0;
}
.message__status {
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.message__avatar {
  padding-left: 6px;
  padding-right: 8px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}
.message__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 67px;
  padding-right: 5px;
}
.chatroom {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 400px;
  height: auto;
  background-color: white;

}
.message {
  display: flex;
}
.message--self {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.input {
  display: flex;

}
.avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}
