.contact-card {
  background-color: var(--background-color);
  width: 180px;
  box-sizing: border-box;
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.contact-profile {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
