.contact-card {
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.contact-profile {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
