// .modal {
//   display: block;
// }
// .modal-back {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: rgba( 0, 0, 0, .25 )
// }
// .modal-container {
//   position: fixed;
//   top: 50%;
//   left: 30%;
//   padding: 25px;
//   background: white;
//   transform: translate(-50%, -50%)
// }


/* Style pour la modal */
.modal {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 9999;
  border: 1px solid black;
}
