.page-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.page-card {
  background-color: var(--section-color);
  border-radius: 10px;
  overflow: hidden;
  min-height: 200px;
}

.page-card-background {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.page-card-footer {
  height: 40px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
