.post-feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--section-color);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: var(--border-radius);
}

.post-display-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-new {
  flex-direction: row;
}

.form-post-new {
  display: flex;
  gap: 10px;
  width: 100%;
}

textarea {
  background-color: var(--background-color);
  border: none;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 10px;
}
