.section {
  width: fit-content;
  background-color: var(--section-color);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  box-sizing: content-box;
  border-radius: var(--border-radius);
}
